name: all_features

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy
      - name: Build
        run: cargo build --package suppaftp --features native-tls,rustls-aws-lc-rs,async-std,tokio-aws-lc-rs,tokio-async-native-tls,async-std-rustls,tokio-rustls-aws-lc-rs,tokio-rustls-aws-lc-rs
      - name: Format
        run: cargo fmt --all -- --check
