name: Build

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup containers
        run: docker-compose -f "tests/docker-compose.yml" up -d --build
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - name: Build simple
        uses: actions-rs/cargo@v1
        with:
          command: build
      - name: Build secure
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features secure
      - name: Build async
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features async
      - name: Build async-secure
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features async-secure
      - name: Build suppaftp-cli
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features secure --features cli-bin --bin suppaftp
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --lib --no-default-features --features secure,async-secure,with-containers --no-fail-fast
        env:
          RUST_LOG: trace
      - name: Format
        run: cargo fmt --all -- --check
      - name: Clippy without secure
        run: cargo clippy --features async -- -Dwarnings
      - name: Clippy with secure feature
        run: cargo clippy --features secure --features async-secure -- -Dwarnings
